src/Todo.Domain/obj/Debug/netcoreapp3.1/Todo.Domain.csprojAssemblyReference.cache
src/Todo.Domain/obj/Debug/netcoreapp3.1/Todo.Domain.assets.cache
src/Todo.Domain/obj/Todo.Domain.csproj.nuget.dgspec.json
src/Todo.Domain/obj/Todo.Domain.csproj.nuget.cache
src/Todo.Domain/obj/project.assets.json
